footer.mt-auto.py-3.bg-light
  .container.d-flex.justify-content-between
    span © 2022 PoshURL Shortener. All Rights Reserved
    ul.mb-0
      li.list-inline-item
        a(href='https://poshpartybox.co' target='_blank') GitHub
