extends layout

block head
  script(src='https://www.google.com/recaptcha/api.js' async='' defer='')

block content
  section.pb-2.mt-2.mb-4
    img(src='/menehune-full.png' width='200px' height='200px' alt='menehune' class='img-fluid')
    h3.border-bottom How to make a PoshLink™️ 
    p Login with your user credientials, or request credentials from an admin.
    p Once signed in, select "Shortener" from the navigation bar. On the shortener page you will paste or type in your long link 🤮, from there you will press the create button to view and save your PoshLink™️ aka shortened link. Additionally you have the option to create a QR code for the new link, and/or add an experation date to your new PoshLink™️. Either way, your shortened URL's are saved to your user profile for later use or modification. 


  section.pb-2.mt-2.mb-4
    h5.border-bottom About
    p PoshLink™️
    p Public URL shorteners have a history of being used as a way for bad actors to easily spread malware and other malicous viruses.
    p PoshLinks™️ aims to provide it's users a secure platform for creating shortened links by increasing authenticity and non-repudiation of URLs through the use of user accounts and threat detection.

  section.pb-2.mt-2.mb-4
    h3.border-bottom Mission
    p Shorten all of the links

  section.pb-2.mt-2.mb-4
  h3.border-bottom What makes this different
  .container.text-center
    .row.align-items-start
      section.col
        img(src='/opensourced.jpg' alt='' width='150' height='150')
        h5 Open-sourced
        p This link management platform was developed with the amdin and users in mind.
      section.col
        img(src='/reliable.jpg' alt='' width='150' height='150')
        h5 Reliable
        p A major issue faced when using other shorteners is the shortened urls containing malware. This platform compares known malicious factors and alerts you when these factors are detected.
      section.col
        img(src='/culture.jpg' alt='' width='150' height='150')
        h5 Culture
        p Bada$$ folx use this shortener
