extends layout

block head
  script(src='https://www.google.com/recaptcha/api.js' async='' defer='')

block content
  section.pb-2.mt-2.mb-4
    img(src='/PoshPartyBox-123-min.webp' width='200px' height='200px' alt='floral' class='img-fluid')
    h3.border-bottom How to make a PoshLink™️ 
    p Login with your user credientials, or request credentials from an admin.
    p Once signed in, select "Shortener" from the navigation bar. On the shortener page you will paste or type in your long link 🤮, from there you will press the create button to view and save your PoshLink™️ aka shortened link. Additionally you have the option to create a QR code for the new link, and/or add an experation date to your new PoshLink™️. Either way, your shortened URL's are saved to your user profile for later use or modification. 


  section.pb-2.mt-2.mb-4
    h5.border-bottom About
    p Public URL shorteners such as Bit.ly have a history of being used by bad actors to easily spread malware and other malicous viruses.
    p PoshLink™️ provides a secure and customizable platform for creating and sharing shortened URL's 🔗

  section.pb-2.mt-2.mb-4
    h3.border-bottom Mission
    p To rid the interwebs of fugly long links

  section.pb-2.mt-2.mb-4
  h3.border-bottom What makes PoshURLS different?
  .container.text-center
    .row.align-items-start
      section.col
        img(src='/opensourced.jpg' alt='' width='150' height='150')
        h5 Open-source
        p Source code available to view at the linked Github in the footer
      section.col
        img(src='/reliable.jpg' alt='' width='150' height='150')
        h5 Reliable
        p Shortener just works with application uptime +/- 99%
      section.col
        img(src='/culture.jpg' alt='' width='150' height='150')
        h5 Culture
        p Bada$$ folx use this shortener
